<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tentang Java Halu</title>
    <link rel="icon" href="//www.javahalucoffee.id/img/favicon.png" type="image/x-icon">
    <link href="../static/css/stylesheet.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="https://www.javahalucoffee.id/img/logo.png" style="max-width: 150px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a style="font-size: medium;" class="nav-link" href="/">Beranda</a>
                </li>
                <li class="nav-item dropdown">
                    <a style="font-size: medium;" class="nav-link dropdown-toggle" href="#" role="button"
                       data-bs-toggle="dropdown">Tentang Kami</a>
                    <ul class="dropdown-menu">
                        <li><a style="font-size: medium;" class="dropdown-item" href="/about/profile">Profile Processor</a></li>
                        <li><a style="font-size: medium;" class="dropdown-item" href="/about/">Tentang Kami</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a style="font-size: medium;" class="nav-link dropdown-toggle" href="#" role="button"
                       data-bs-toggle="dropdown">Produk Kami</a>
                    <ul class="dropdown-menu">
                        <li><a style="font-size: medium;" class="dropdown-item" href="#">Coffee Trip</a></li>
                        <li><a style="font-size: medium;" class="dropdown-item" href="/products/">Produk Kopi</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a style="font-size: medium;" class="nav-link" href="#">Hubungi Kami</a>
                </li>
                <li class="nav-item">
                    <a style="font-size: medium;" class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <select style="font-size: medium;" class="text-dark">
                            <option style="font-size: medium;" class="text-dark">English</option>
                            <option style="font-size: medium;" class="text-dark" selected>Bahasa Indonesia</option>
                            <option style="font-size: medium;" class="text-dark">العربية</option>
                        </select>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br><br>
<div class="container">
    <img src="https://www.javahalucoffee.id/img/Detail%20_About%20Us.jpg">
</div>
<br><br>
<div class="container">
    <h1 id="tentang-java-halu"><b>TENTANG JAVA HALU</b></h1>
    <p style="font-size: medium;">Java Halu Coffee adalah Prosesor pasaca panen Kopi yang
        memproses hasil panen kopi dengan standar Kopi Specialty,
        menggunakan tekhnologi hemat air dan energi, Diproses
        secara Profesional oleh Q prosesor kami , Ibu Rani Mayasari
        untuk mewujudkan cita rasa yang unik dan berkarakter.
        Java Halu Coffee menanam Kopi di Gunung Tilu Kabupaten
        Bandung, Gunung Halu dan Sindangkerta Kabupaten
        Bandung Barat di ketinggian 1300mdpl – 1500 mdpl mix
        variety sigararutang Ateng dan s795 .
        Java Halu coffee memproses Kopi Specialty melalui proses
        Wash Doubel Soak, Black Honey Anaerobic, Natural
        Anaerobic.</p>
    <br><br>
    <h1 id="tujuan-tujuan-perusahaan"><b>Tujuan-Tujuan Perusahaan</b></h1>
    <h2 id="petani">Petani</h2>
    <p style="font-size: medium;">Menyerap hasil produksi ceri
        secara maksimal dan
        membeli hasil panen secara
        layak.</p>
    <h2 id="deforestasi">Deforestasi</h2>
    <p style="font-size: medium;">Menjaga supaya tidak
        penggundulan hutan melalui
        Gerakan tanam pohon kopi di
        Hutan</p>
    <h2 id="produk">Produk</h2>
    <p style="font-size: medium;">Kopi dengan specialty Grade
        memliki cita rasa
        berkarakter melalui proses
        pengolahan sesuai standar
        dan menjamin kemanan
        pangan pada product</p>
    <h2 id="teknologi">Teknologi</h2>
    <p style="font-size: medium;">Menggunakan proses
        pengolahan dengan
        menggunakan teknologi hemat
        air dan energi yang baik untuk
        bumi</p>
</div>
</body>
</html>